*
{
    box-sizing:border-box;
    image-rendering: pixelated;
}

body 
{
    font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size:14px;
    line-height:1.5;
    color:#24292e;
    background-color:#fff
}


h1 
{
    font-size:2em;
    font-weight: 600;
    line-height: 1.25;
}

a 
{
    color:#0366d6;
    text-decoration:none
}
a:hover 
{
    text-decoration:underline
}


#top
{
    font-size: 16px;
    line-height: 1.5;
    word-wrap: break-word;
    max-width: 1012px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 16px !important;
    padding-left: 16px !important;
    margin-top: 32px !important;
    margin-bottom: 32px !important;
}


#gallery 
{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 10px;
    margin: 48px;
}

.image
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 1;
    background-color: rgb(0, 0, 0);
}
.image:hover
{
    object-fit: contain;
    transform: scale(1.25);
    border-style: solid;
    background-color: white;
}

#view 
{
    display: none;
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: rgba(0, 0, 0, 0.8);
}
#view-image
{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 90%;
    max-width: 90%;
    max-height: 90%;
    object-fit: contain;
}
#view-exit
{
    position: absolute;
    top: 4%;
    right: 4%;
}




@media (max-width:768px) 
{
    #gallery
    {
        grid-template-columns: repeat(5, 1fr);
    }
}
@media (max-width:540px) 
{
    #gallery
    {
        grid-template-columns: repeat(3, 1fr);
    }
}